{% extends 'base.html' %}
{% block head %}
    <script>
        $(function () {
            $('#jiahao').click(function () {
                num = parseFloat($('#shuliang').val());
                $('#shuliang').val(num+1);
                $('#shuliang').blur();
            });

            $('#jianhao').click(function () {
                num = parseFloat($('#shuliang').val());     //专门用于把字符串转换成数值
                if (num > 1){
                    $('#shuliang').val(num-1);
                    $('#shuliang').blur();
                }
            });

            $('#shuliang').blur(function () {
                num = parseInt($('#shuliang').val());     //val() 方法返回或设置被选元素的值。
                if(num){        //如果不为空
                    if (num < 1)        //如果小于1
                        num = 1;
                    price = parseFloat($('#goods_price').text());    //text() 方法方法设置或返回被选元素的文本内容。
                    total = num * price;
                    $('#shuliang').val(num);
                    $('#gtotal').text(total.toFixed(2) + '元');  //toFixed(num) 方法可把原来的数四舍五入为小数位数为num的数字。
                } else {
                    $('#shuliang').val(1);
                    price = parseFloat($('#goods_price').text());    //text() 方法方法设置或返回被选元素的文本内容。
                    total = 1.0 * price;
                    $('#gtotal').total.toFixed(2) + '元';  //toFixed(num) 方法可把原来的数四舍五入为小数位数为num的数字。
                }
                }
            );
            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;

            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;

            $('#add_cart').click(function(){
                $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                if ($('.login_btn').text().indexOf('登录') >= 0){
                    alert("请先登录后再购买");
                    location.href = '/user/login/';
                    return;
                }
                //动画
                $(".add_jump").stop().animate({
                    'left': $to_y+7,
                    'top': $to_x+7},
                    "fast",
                    function() {
                        $(".add_jump").fadeOut('fast'
                        //     function(){
                        //     $('#show_count').html();
                        // }
                        );
                    }
                );
                //异步      ajax
                s1();
            });
            function s1() {
                num = parseInt($('.num_show').val());
                $.get('/cart/add{{goods.id}}_' + num + '/', function (data) {
                    $('#show_count').text(data.count);
                });
            }
        })
    </script>
{% endblock head %}

{% block body %}

    <div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				{% if request.session.username|default:'' != '' %}		<!--默认为空,不为空时说明已经登录-->
                    <div class="login_btn fl">
                        <a>欢迎您:</a>
                        <a>{{request.session.username}}</a>
                        <span>|</span>
                        <a href="/logout/">注销</a>
                    </div>
                {% else %}
                    <div class="login_btn fl">
                        <a href="/login/">登录</a>
                        <span>|</span>
                        <a href="/register/">注册</a>
                    </div>
                {% endif %}
            </div>

				<div class="user_link fl">
					<span>|</span>
					<a href="/info/">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

    <div class="goods_detail_con clearfix">
{#        <div class="goods_id">{{ goods_id.goods_id }}</div>#}
		<div class="goods_detail_pic fl"><img src="/upload/{{ goods_id.goods_pic }}"></div>
		<div class="goods_detail_list fr">
			<h3>{{goods_id.goods_title}}</h3>
			<p>{{goods_id.goods_jianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="goods_price">{{goods_id.goods_price}}</em></span>
				<span class="show_unit">单  位：{{goods_id.goods_unit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" id="shuliang">
					<a href="javascript:;" class="add fr" id="jiahao">+</a>
					<a href="javascript:;" class="minus fr" id="jianhao">-</a>
				</div>
			</div>
			<div class="total">总价：<em id="gtotal">{{ goods_id.goods_price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

    <div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for new in news %}
                        <li>
                            <a href="/{{new.id}}/"><img src="/upload/{{new.goods_pic}}"></a>
                            <h4><a href="/{{new.id}}/">{{new.goods_title}}</a></h4>
                            <div class="prize">{{new.goods_price}}</div>
                        </li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>
                        {% autoescape off %}
                            {{ goods_id.goods_content }}
                        {% endautoescape %}
                    </dd>
				</dl>
			</div>

		</div>
	</div>


<div class="add_jump"></div>
{% endblock body %}


{#<span style="font-size:18px;"><dd><s:property value="goods_id.goods_content" escape="false"/></dd></span>#}